mixin nav(nav)
  nav.nav
    each item in nav
      a.nav__link(href= item.link)= item.title

mixin button-oval(text)
  a(href="#" class="button-oval")= text

mixin button-type-a(text)
  a(href="#" class="button-type-a")= text

mixin button-type-b(text)
  a(href="#" class="button-type-b")= text

mixin button-type-c(text)
  a(href="#" class="button-type-c")= text

mixin button-type-d(text)
  a(href="#" class="button-type-d")= text

mixin card(numberPicture, titleHeader, cardText, loadPercentage, daysAweek, link)
  .card
    div(class="card__header-bg card__header-bg--picture-"+numberPicture)
      .label-new
    .card__content
      h4.card__title #{titleHeader}
      p.card__text #{cardText}
      .loading-scale
        .loading-scale__fill
      .article-details
        p.article-details__text #{loadPercentage}% Времени
        p.article-details__text #{daysAweek} дней в неделю
      .full-article
        a(href= link).full-article__link Читать дальше
