mixin nav(nav)
  nav.nav
    each item in nav
      a.nav__link(href= item.link)= item.title

mixin button-oval(text)
  a(href="#" class="button-oval")= text

mixin button-type-a(text)
  a(href="#" class="button-type-a")= text

mixin button-type-b(text)
  a(href="#" class="button-type-b")= text

mixin button-type-c(text)
  a(href="#" class="button-type-c")= text
